<!-- ********** A01_head.blade.php ********** -->

<!-- ********** insérer B01_header.blade.php ********** -->

<!-- ********** Insérer B02_asidemenu.php ********** -->

<!-- **********************************************************************************************************************************************************
      Début de la page
      *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-9 main-chart">

                <!-- ********** C01_middlebodyicones.php ********** -->

                <!-- ********** C02_middlebodybox.blade.php ********** -->

                <!-- ********** C03_middlebodygraphe.blade.php ********** -->

            </div>

            <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

            <div class="col-lg-3 ds">

                <!-- ********** Insérer D01_rightpanelnotification.php ********** -->

                <!-- ********** Insérer D02_rightpanelmembers.php ********** -->

                <!-- ********** Insérer D03_rightpanelcalendar ********** -->

            </div>
            <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
    </section>
</section>

</section>
<!-- ********** Insérer E01_footercontent.php ********** -->

<!-- ********** insérer E02_footerscripts.php ********** -->
</body>

</html>